<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>
    <table>
        <tr>
            <th>Date</th>
            <th>Username</th>
            <th>Password</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.date }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
            </tr>
        {% endfor %}
    </table>

    <form action="/change_url" method="post">
        <input type="text" placeholder="New Url">
        <button type="submit">Change</button>
    </form>
</body>
</html>